In [32]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
import mysql.connector as connector

try:
  dbconfig={"database":"little_lemon_db", "user":"root", "password":"123123"}

  pool_b = MySQLConnectionPool(pool_name = "ll_pool_b",
                              pool_size = 2,
                            **dbconfig)
  guests = [
    {
        "Table_Number": 8,
        "First_Name": "Anees",
        "Last_Name": "Java",
        "Booking_Time": "18:00",
        "EmployeeID": 6
    },
    {
        "Table_Number": 5,
        "First_Name": "Bald",
        "Last_Name": "Vin",
        "Booking_Time": "19:00",
        "EmployeeID": 6
    },
    {
        "Table_Number": 12,
        "First_Name": "Jay",
        "Last_Name": "Kon",
        "Booking_Time": "19:30",
        "EmployeeID": 6
    }
  ]
  
  def insert_new_guest(data, cursor, connection):
    insert_guest_stmt = f"""
      INSERT INTO Bookings (TableNo, GuestFirstName, 
      GuestLastName, BookingSlot, EmployeeID)
      VALUES
      ({data['Table_Number']}, "{data['First_Name']}","{data['Last_Name']}","{data['Booking_Time']}",{data['EmployeeID']});
    """
    cursor.execute(insert_guest_stmt)
    connection.commit()
  
  # Assign connection to each user
  for guest in guests:
    try:
      connection = pool_b.get_connection()
      cursor = connection.cursor()
      insert_new_guest(guest, cursor, connection)
    except connector.errors.PoolError:
      print("No more connections are available.")
      print("Adding new connection in the pool.")
      
      # Create a connection
      connection=connector.connect(user="root",password="123123")
      # Add the connection into the pool
      pool_b.add_connection(cnx=connection)
      print("A new connection is added in the pool.\n")
      
      connection = pool_b.get_connection()
      cursor = connection.cursor()
      insert_new_guest(guest, cursor, connection)
    except Error as e:
      print(f"Error: {e}")
except Error as e:
  print(f"Error: {e}")
  
# Close the connection
connection.close()

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

In [5]:
# The name and EmployeeID of the Little Lemon manager.

select_managers_stmt="""
SELECT EmployeeID, Name 
FROM Employees
WHERE Role = "Manager"
"""
try:
  cursor.execute(select_managers_stmt)

  results = cursor.fetchall()
  
  print(cursor.column_names)
  for result in results:
    print(result)

except Exception as e:
    print(f"Error: {e}")

connection.close()

('EmployeeID', 'Name')
(1, 'Mario Gollini')

In [6]:
# The name and role of the employee who receives the highest salary.

select_highest_salary_stmt="""
SELECT Name, Role
FROM Employees
ORDER BY Annual_Salary DESC LIMIT 1;
"""
try:
  cursor.execute(select_highest_salary_stmt)

  results = cursor.fetchall()
  
  print(cursor.column_names)
  for result in results:
    print(result)

except Exception as e:
    print(f"Error: {e}")

connection.close()

('Name', 'Role')
('Mario Gollini', 'Manager')

In [7]:
# The number of guests booked between 18:00 and 20:00.
guest_book_between_18_20_h_stmt="""
SELECT *
FROM Bookings
WHERE HOUR(BookingSlot) BETWEEN 18 AND 20
"""
try:
  cursor.execute(guest_book_between_18_20_h_stmt)

  results = cursor.fetchall()
  
  print(cursor.column_names)
  for result in results:
    print(result)

except Exception as e:
    print(f"Error: {e}")

connection.close()

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)
(7, 8, 'Anees', 'Java', datetime.timedelta(seconds=64800), 6)
(8, 5, 'Bald', 'Vin', datetime.timedelta(seconds=68400), 6)
(9, 12, 'Jay', 'Kon', datetime.timedelta(seconds=70200), 6)
(10, 8, 'Anees', 'Java', datetime.timedelta(seconds=64800), 6)
(11, 5, 'Bald', 'Vin', datetime.timedelta(seconds=68400), 6)
(12, 12, 'Jay', 'Kon', datetime.timedelta(seconds=70200), 6)
(13, 8, 'Anees', 'Java', datetime.timedelta(seconds=64800), 6)
(14, 5, 'Bald', 'Vin', datetime.timedelta(seconds=68400), 6)
(15, 12, 'Jay', 'Kon', datetime.timedelta(seconds=70200), 6)
(16, 8, 'Anees', 'Java', datetime.timedelta(seconds=64800), 6)
(17, 5, 'Bald', 'Vin', datetime.timedelta(seconds=68400), 6)
(18, 12, 'Jay', 'Kon', datetime.timedelta(seconds=70200), 6)

In [9]:
# The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.
waiting_guest_book_stmt="""
SELECT b.BookingID, CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS Guest, b.BookingSlot
FROM Bookings b
INNER JOIN Employees e ON b.EmployeeID = e.EmployeeID
WHERE e.Role = "Receptionist"
ORDER BY b.BookingSlot DESC
"""
try:
  cursor.execute(waiting_guest_book_stmt)

  results = cursor.fetchall()
  
  print(cursor.column_names)
  for result in results:
    print(result)

except Exception as e:
    print(f"Error: {e}")

connection.close()

('BookingID', 'Guest', 'BookingSlot')
(9, 'Jay Kon', datetime.timedelta(seconds=70200))
(12, 'Jay Kon', datetime.timedelta(seconds=70200))
(15, 'Jay Kon', datetime.timedelta(seconds=70200))
(18, 'Jay Kon', datetime.timedelta(seconds=70200))
(8, 'Bald Vin', datetime.timedelta(seconds=68400))
(11, 'Bald Vin', datetime.timedelta(seconds=68400))
(14, 'Bald Vin', datetime.timedelta(seconds=68400))
(17, 'Bald Vin', datetime.timedelta(seconds=68400))
(7, 'Anees Java', datetime.timedelta(seconds=64800))
(10, 'Anees Java', datetime.timedelta(seconds=64800))
(13, 'Anees Java', datetime.timedelta(seconds=64800))
(16, 'Anees Java', datetime.timedelta(seconds=64800))

In [31]:
# Create the stored procedure query as a Python string
basic_sale_report_stored_procedure_query = """
CREATE PROCEDURE IF NOT EXISTS BasicSalesReport ()
BEGIN
SELECT SUM(BillAmount) AS TotalSale, AVG(BillAmount) AS AvgSale, MIN(BillAmount) AS MinBill, MAX(BillAmount) AS MAxBill
FROM Orders;
END
"""

# Execute the stored procedure and store the results in the MySQL database using Python
cursor.execute(basic_sale_report_stored_procedure_query)

# Call or invoke the procedure using the cursor's callproc module
cursor.callproc("BasicSalesReport")

# Retrieve the procedure's results using Python's built-in next function
results = next(cursor.stored_results())

# Call the fetchall method on the results variable to save the data set
dataset = results.fetchall()

# Print out the results
for data in dataset:
    print(data)

connection.close()

(Decimal('243'), Decimal('48.6000'), 37, 86)

In [30]:
# Task 5
connection.close()

taskt_stmt="""
  SELECT b.BookingSlot, CONCAT(b.GuestFirstName, ' ', b.GuestLastName),  e.Name, e.Role 
  FROM Bookings b
  INNER JOIN Employees e ON b.EmployeeID = e.EmployeeID
  ORDER BY b.BookingSlot ASC
  LIMIT 3;
  """

try:
  connection = pool_b.get_connection()
  cursor = connection.cursor(buffered=True)
  cursor.execute(taskt_stmt)
  results = cursor.fetchall()
  
  for result in results:
    print(f'[{result[0]}]')
    print(f'[{result[1]}]')
    print(f'[Assigned to: {result[2]} [{result[3]}]]')
    print("\n")
except Exception as e:
    print(f"Error: {e}")

[15:00:00]
[Vanessa McCarthy]
[Assigned to: Giorgos Dioudis [Head Chef]]


[17:30:00]
[Marcos Romero]
[Assigned to: Fatma Kaya [Assistant Chef]]


[18:00:00]
[Anees Java]
[Assigned to: John Millar [Receptionist]]